<style>
    table {
        width: 100%;
    }

    td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        font-size: small;
        font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
        border-collapse: collapse;

    }

    th {
        padding: 8px;
        text-align: left;
        background-color: #007bff;
        color: white;
        font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th td:nth-child(1) {
        width:50%;
    }
    th td:nth-child(2) {
        width:10%;
    }
    th td:nth-child(3) {
        width:30%;
    }
    th td:nth-child(4) {
        width:10%;
    }
    tr:hover {
        background-color: #ddd;
    }
    table.print-friendly tr td, table.print-friendly tr th {
        page-break-inside: avoid;
    }
</style>
<table class="table">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Millésime</th>
        <th>Appellation</th>
        <th style="text-align: center">Couleur</th>
    </tr>
    </thead>
    <tbody>
    {% for wine in wines|sort((a, b) => a.name <=> b.name) %}
        {% if wine.appellation.region.name == appellation %}
            <tr>
                <td>{{ wine.name }}</td>
                <td style="text-align: center">{{ wine.year }}</td>
                <td>{{ wine.appellation.name }}</td>
                <td style="text-align: center"><img src="{{ './images/wines/' ~ wine.color ~ '.jpg' }}"
                                                    alt="card-img-top"
                                                    style=" height: 35px; width: auto;"></td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>


