{% extends 'base.html.twig' %}

{% block title 'Tous les vins' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            {% include'wine/_filter.html.twig' %}
        </div>
    </div>


    <div class="container mt-4">
        <h1>Voir tous les vins</h1>
        <div class="row">
            {% for wine in wines %}
                <div class="col-md-4">
                    {% include 'wine/_wine.html.twig' %}
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {{ knp_pagination_render(wines) }}
        </div>
    </div>
{% endblock %}
