{# ./templates/wine/mypdf.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title of the PDF</title>
</head>
<body>
<h4>{{ title }}</h4>
<p>Lorem Ipsum</p>

<div class="container mt-4">
    <h1>Voir tous les vins</h1>

    <div class="container mt-4">
        <h1>Voir tous les vins</h1>



</div>

</body>
</html>