{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Créer une nouvelle association</h1>
        {{ include ('pairing/_form.html.twig', {button: 'Créer'}) }}

    </div>

{% endblock %}
