{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Créer un nouveau cépage</h1>
        {{ include ('grape/_form.html.twig', {button: 'Créer'}) }}

    </div>

{% endblock %}
