{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">

        <div class="container">
            <h1>Créer une nouvelle appellation</h1>
            {{ include ('container/_form.html.twig', {button: 'Créer'}) }}

        </div>
    </div>
{% endblock %}
