{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Editer le vin</h1>
        {{ include ('admin/wine/_form.html.twig', {button: 'Editer'}) }}

    </div>
{% endblock %}

