{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">

        <div class="container mt-4">
            <h1>Créer un nouveau vin</h1>
            {{ include ('admin/wine/_form.html.twig', {button: 'Créer'}) }}

        </div>
    </div>
{% endblock %}


