{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">

        <div class="container mt-4">
            <h1>Gestion du stock</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary" type="submit">Valider</button>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
