{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Editer la region</h1>
        {{ include ('region/_form.html.twig', {button: 'Editer'}) }}

    </div>

{% endblock %}

{% block title %}

{% endblock %}