{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-mt-4">
        <h1>Créer une nouvelle region</h1>
        {{ include ('region/_form.html.twig', {button: 'Créer'}) }}

    </div>

{% endblock %}
